<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gtcmaile.blogs.web.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.gtcmaile.blogs.pojo.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="nickName" property="nickname" jdbcType="VARCHAR" />
    <result column="headUrl" property="headurl" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="expScore" property="expscore" jdbcType="INTEGER" />
    <result column="registerTime" property="registertime" jdbcType="TIMESTAMP" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="weiBo" property="weibo" jdbcType="VARCHAR" />
    <result column="weChat" property="wechat" jdbcType="VARCHAR" />
    <result column="miniProgram" property="miniprogram" jdbcType="VARCHAR" />
    <result column="blogGold" property="bloggold" jdbcType="INTEGER" />
    <result column="staus" property="staus" jdbcType="INTEGER" />
    <result column="permission" property="permission" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="locationAddress" property="locationaddress" jdbcType="VARCHAR" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="macAddress" property="macaddress" jdbcType="VARCHAR" />
    <result column="loginTime" property="logintime" jdbcType="TIMESTAMP" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="idCardNo" property="idcardno" jdbcType="VARCHAR" />
    <result column="trueName" property="truename" jdbcType="VARCHAR" />
    <result column="rankType" property="ranktype" jdbcType="INTEGER" />
    <result column="rankName" property="rankname" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="platform" property="platform" jdbcType="VARCHAR" />
    <result column="phonetype" property="phonetype" jdbcType="VARCHAR" />
    <result column="systemversion" property="systemversion" jdbcType="VARCHAR" />
    <result column="uniqueid" property="uniqueid" jdbcType="VARCHAR" />
    <result column="appVersion" property="appversion" jdbcType="VARCHAR" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="speaking" property="speaking" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, phone, password, nickName, headUrl, age, sex, province, city, expScore, registerTime,
    qq, weiBo, weChat, miniProgram, blogGold, staus, permission, longitude, latitude,
    locationAddress, token, macAddress, loginTime, birthday, idCardNo, trueName, rankType,
    rankName, level, platform, phonetype, systemversion, uniqueid, appVersion, updateTime,
    speaking, email
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gtcmaile.blogs.pojo.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gtcmaile.blogs.pojo.UserExample" >
    delete from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gtcmaile.blogs.pojo.User" >
    insert into user (id, phone, password,
      nickName, headUrl, age,
      sex, province, city,
      expScore, registerTime, qq,
      weiBo, weChat, miniProgram,
      blogGold, staus, permission,
      longitude, latitude, locationAddress,
      token, macAddress, loginTime,
      birthday, idCardNo, trueName,
      rankType, rankName, level,
      platform, phonetype, systemversion,
      uniqueid, appVersion, updateTime,
      speaking, email)
    values (#{id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{nickname,jdbcType=VARCHAR}, #{headurl,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER},
      #{sex,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
      #{expscore,jdbcType=INTEGER}, #{registertime,jdbcType=TIMESTAMP}, #{qq,jdbcType=VARCHAR},
      #{weibo,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, #{miniprogram,jdbcType=VARCHAR},
      #{bloggold,jdbcType=INTEGER}, #{staus,jdbcType=INTEGER}, #{permission,jdbcType=VARCHAR},
      #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE}, #{locationaddress,jdbcType=VARCHAR},
      #{token,jdbcType=VARCHAR}, #{macaddress,jdbcType=VARCHAR}, #{logintime,jdbcType=TIMESTAMP},
      #{birthday,jdbcType=TIMESTAMP}, #{idcardno,jdbcType=VARCHAR}, #{truename,jdbcType=VARCHAR},
      #{ranktype,jdbcType=INTEGER}, #{rankname,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER},
      #{platform,jdbcType=VARCHAR}, #{phonetype,jdbcType=VARCHAR}, #{systemversion,jdbcType=VARCHAR},
      #{uniqueid,jdbcType=VARCHAR}, #{appversion,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP},
      #{speaking,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gtcmaile.blogs.pojo.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="nickname != null" >
        nickName,
      </if>
      <if test="headurl != null" >
        headUrl,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="expscore != null" >
        expScore,
      </if>
      <if test="registertime != null" >
        registerTime,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="weibo != null" >
        weiBo,
      </if>
      <if test="wechat != null" >
        weChat,
      </if>
      <if test="miniprogram != null" >
        miniProgram,
      </if>
      <if test="bloggold != null" >
        blogGold,
      </if>
      <if test="staus != null" >
        staus,
      </if>
      <if test="permission != null" >
        permission,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="locationaddress != null" >
        locationAddress,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="macaddress != null" >
        macAddress,
      </if>
      <if test="logintime != null" >
        loginTime,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="idcardno != null" >
        idCardNo,
      </if>
      <if test="truename != null" >
        trueName,
      </if>
      <if test="ranktype != null" >
        rankType,
      </if>
      <if test="rankname != null" >
        rankName,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="platform != null" >
        platform,
      </if>
      <if test="phonetype != null" >
        phonetype,
      </if>
      <if test="systemversion != null" >
        systemversion,
      </if>
      <if test="uniqueid != null" >
        uniqueid,
      </if>
      <if test="appversion != null" >
        appVersion,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="speaking != null" >
        speaking,
      </if>
      <if test="email != null" >
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="headurl != null" >
        #{headurl,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="expscore != null" >
        #{expscore,jdbcType=INTEGER},
      </if>
      <if test="registertime != null" >
        #{registertime,jdbcType=TIMESTAMP},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="weibo != null" >
        #{weibo,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="miniprogram != null" >
        #{miniprogram,jdbcType=VARCHAR},
      </if>
      <if test="bloggold != null" >
        #{bloggold,jdbcType=INTEGER},
      </if>
      <if test="staus != null" >
        #{staus,jdbcType=INTEGER},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="locationaddress != null" >
        #{locationaddress,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="macaddress != null" >
        #{macaddress,jdbcType=VARCHAR},
      </if>
      <if test="logintime != null" >
        #{logintime,jdbcType=TIMESTAMP},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="idcardno != null" >
        #{idcardno,jdbcType=VARCHAR},
      </if>
      <if test="truename != null" >
        #{truename,jdbcType=VARCHAR},
      </if>
      <if test="ranktype != null" >
        #{ranktype,jdbcType=INTEGER},
      </if>
      <if test="rankname != null" >
        #{rankname,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="phonetype != null" >
        #{phonetype,jdbcType=VARCHAR},
      </if>
      <if test="systemversion != null" >
        #{systemversion,jdbcType=VARCHAR},
      </if>
      <if test="uniqueid != null" >
        #{uniqueid,jdbcType=VARCHAR},
      </if>
      <if test="appversion != null" >
        #{appversion,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="speaking != null" >
        #{speaking,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gtcmaile.blogs.pojo.UserExample" resultType="java.lang.Integer" >
    select count(*) from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null" >
        nickName = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.headurl != null" >
        headUrl = #{record.headurl,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.expscore != null" >
        expScore = #{record.expscore,jdbcType=INTEGER},
      </if>
      <if test="record.registertime != null" >
        registerTime = #{record.registertime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.qq != null" >
        qq = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.weibo != null" >
        weiBo = #{record.weibo,jdbcType=VARCHAR},
      </if>
      <if test="record.wechat != null" >
        weChat = #{record.wechat,jdbcType=VARCHAR},
      </if>
      <if test="record.miniprogram != null" >
        miniProgram = #{record.miniprogram,jdbcType=VARCHAR},
      </if>
      <if test="record.bloggold != null" >
        blogGold = #{record.bloggold,jdbcType=INTEGER},
      </if>
      <if test="record.staus != null" >
        staus = #{record.staus,jdbcType=INTEGER},
      </if>
      <if test="record.permission != null" >
        permission = #{record.permission,jdbcType=VARCHAR},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude,jdbcType=DOUBLE},
      </if>
      <if test="record.latitude != null" >
        latitude = #{record.latitude,jdbcType=DOUBLE},
      </if>
      <if test="record.locationaddress != null" >
        locationAddress = #{record.locationaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.token != null" >
        token = #{record.token,jdbcType=VARCHAR},
      </if>
      <if test="record.macaddress != null" >
        macAddress = #{record.macaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.logintime != null" >
        loginTime = #{record.logintime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.idcardno != null" >
        idCardNo = #{record.idcardno,jdbcType=VARCHAR},
      </if>
      <if test="record.truename != null" >
        trueName = #{record.truename,jdbcType=VARCHAR},
      </if>
      <if test="record.ranktype != null" >
        rankType = #{record.ranktype,jdbcType=INTEGER},
      </if>
      <if test="record.rankname != null" >
        rankName = #{record.rankname,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null" >
        level = #{record.level,jdbcType=INTEGER},
      </if>
      <if test="record.platform != null" >
        platform = #{record.platform,jdbcType=VARCHAR},
      </if>
      <if test="record.phonetype != null" >
        phonetype = #{record.phonetype,jdbcType=VARCHAR},
      </if>
      <if test="record.systemversion != null" >
        systemversion = #{record.systemversion,jdbcType=VARCHAR},
      </if>
      <if test="record.uniqueid != null" >
        uniqueid = #{record.uniqueid,jdbcType=VARCHAR},
      </if>
      <if test="record.appversion != null" >
        appVersion = #{record.appversion,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.speaking != null" >
        speaking = #{record.speaking,jdbcType=INTEGER},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user
    set id = #{record.id,jdbcType=INTEGER},
    phone = #{record.phone,jdbcType=VARCHAR},
    password = #{record.password,jdbcType=VARCHAR},
    nickName = #{record.nickname,jdbcType=VARCHAR},
    headUrl = #{record.headurl,jdbcType=VARCHAR},
    age = #{record.age,jdbcType=INTEGER},
    sex = #{record.sex,jdbcType=VARCHAR},
    province = #{record.province,jdbcType=VARCHAR},
    city = #{record.city,jdbcType=VARCHAR},
    expScore = #{record.expscore,jdbcType=INTEGER},
    registerTime = #{record.registertime,jdbcType=TIMESTAMP},
    qq = #{record.qq,jdbcType=VARCHAR},
    weiBo = #{record.weibo,jdbcType=VARCHAR},
    weChat = #{record.wechat,jdbcType=VARCHAR},
    miniProgram = #{record.miniprogram,jdbcType=VARCHAR},
    blogGold = #{record.bloggold,jdbcType=INTEGER},
    staus = #{record.staus,jdbcType=INTEGER},
    permission = #{record.permission,jdbcType=VARCHAR},
    longitude = #{record.longitude,jdbcType=DOUBLE},
    latitude = #{record.latitude,jdbcType=DOUBLE},
    locationAddress = #{record.locationaddress,jdbcType=VARCHAR},
    token = #{record.token,jdbcType=VARCHAR},
    macAddress = #{record.macaddress,jdbcType=VARCHAR},
    loginTime = #{record.logintime,jdbcType=TIMESTAMP},
    birthday = #{record.birthday,jdbcType=TIMESTAMP},
    idCardNo = #{record.idcardno,jdbcType=VARCHAR},
    trueName = #{record.truename,jdbcType=VARCHAR},
    rankType = #{record.ranktype,jdbcType=INTEGER},
    rankName = #{record.rankname,jdbcType=VARCHAR},
    level = #{record.level,jdbcType=INTEGER},
    platform = #{record.platform,jdbcType=VARCHAR},
    phonetype = #{record.phonetype,jdbcType=VARCHAR},
    systemversion = #{record.systemversion,jdbcType=VARCHAR},
    uniqueid = #{record.uniqueid,jdbcType=VARCHAR},
    appVersion = #{record.appversion,jdbcType=VARCHAR},
    updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
    speaking = #{record.speaking,jdbcType=INTEGER},
    email = #{record.email,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gtcmaile.blogs.pojo.User" >
    update user
    <set >
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="headurl != null" >
        headUrl = #{headurl,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="expscore != null" >
        expScore = #{expscore,jdbcType=INTEGER},
      </if>
      <if test="registertime != null" >
        registerTime = #{registertime,jdbcType=TIMESTAMP},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="weibo != null" >
        weiBo = #{weibo,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        weChat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="miniprogram != null" >
        miniProgram = #{miniprogram,jdbcType=VARCHAR},
      </if>
      <if test="bloggold != null" >
        blogGold = #{bloggold,jdbcType=INTEGER},
      </if>
      <if test="staus != null" >
        staus = #{staus,jdbcType=INTEGER},
      </if>
      <if test="permission != null" >
        permission = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="locationaddress != null" >
        locationAddress = #{locationaddress,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="macaddress != null" >
        macAddress = #{macaddress,jdbcType=VARCHAR},
      </if>
      <if test="logintime != null" >
        loginTime = #{logintime,jdbcType=TIMESTAMP},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="idcardno != null" >
        idCardNo = #{idcardno,jdbcType=VARCHAR},
      </if>
      <if test="truename != null" >
        trueName = #{truename,jdbcType=VARCHAR},
      </if>
      <if test="ranktype != null" >
        rankType = #{ranktype,jdbcType=INTEGER},
      </if>
      <if test="rankname != null" >
        rankName = #{rankname,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="platform != null" >
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="phonetype != null" >
        phonetype = #{phonetype,jdbcType=VARCHAR},
      </if>
      <if test="systemversion != null" >
        systemversion = #{systemversion,jdbcType=VARCHAR},
      </if>
      <if test="uniqueid != null" >
        uniqueid = #{uniqueid,jdbcType=VARCHAR},
      </if>
      <if test="appversion != null" >
        appVersion = #{appversion,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="speaking != null" >
        speaking = #{speaking,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gtcmaile.blogs.pojo.User" >
    update user
    set phone = #{phone,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      nickName = #{nickname,jdbcType=VARCHAR},
      headUrl = #{headurl,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      sex = #{sex,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      expScore = #{expscore,jdbcType=INTEGER},
      registerTime = #{registertime,jdbcType=TIMESTAMP},
      qq = #{qq,jdbcType=VARCHAR},
      weiBo = #{weibo,jdbcType=VARCHAR},
      weChat = #{wechat,jdbcType=VARCHAR},
      miniProgram = #{miniprogram,jdbcType=VARCHAR},
      blogGold = #{bloggold,jdbcType=INTEGER},
      staus = #{staus,jdbcType=INTEGER},
      permission = #{permission,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      locationAddress = #{locationaddress,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      macAddress = #{macaddress,jdbcType=VARCHAR},
      loginTime = #{logintime,jdbcType=TIMESTAMP},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      idCardNo = #{idcardno,jdbcType=VARCHAR},
      trueName = #{truename,jdbcType=VARCHAR},
      rankType = #{ranktype,jdbcType=INTEGER},
      rankName = #{rankname,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      platform = #{platform,jdbcType=VARCHAR},
      phonetype = #{phonetype,jdbcType=VARCHAR},
      systemversion = #{systemversion,jdbcType=VARCHAR},
      uniqueid = #{uniqueid,jdbcType=VARCHAR},
      appVersion = #{appversion,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      speaking = #{speaking,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!--自定义-->
  <select id="login" parameterType="com.gtcmaile.blogs.pojo.User" resultType="com.gtcmaile.blogs.pojo.User">
    SELECT
    *
    from user
    WHERE
    password = #{password,jdbcType=VARCHAR}
    AND
    <if test="email != null">
      email = #{email,jdbcType=VARCHAR}
    </if>
    <if test="phone !=null">
      phone = #{phone}
    </if>
  </select>
</mapper>